{% extends 'accounts/accounts_base.html' %}
{% load static %}


{% block title %}<title>Reset Password</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block content %}
    <div class="h-screen">
        <div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8">
            <div class="flex justify-center items-center flex-col">
                <a href="{% url 'home' %}" class="">
                    <img class="h-10 mx-auto"
                         src="{% static 'img/favicon/favicon.svg' %}"
                         alt="Your Company">
                </a>
                <h2 class="mt-6 text-2xl font-bold leading-9 tracking-tight text-center text-gray-900">Reset your
                    password</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="px-6 py-12 bg-white shadow rounded-lg sm:px-12">
                    <form action="#" method="POST" x-data="{
                    emailValid: false,
                    termsValid: false,
                }">
                        {% csrf_token %}
                        <div class="space-y-6">
                            {% comment %} Email field {% endcomment %}
                            <div x-data="{
                            email: '',
                            timer: null,
                            showError: false,
                            checkEmail() {
                                if(this.email.length > 0){
                                    if(this.showError == true){
                                        const emailRegex = /.+@.+/;
                                        this.showError = !emailRegex.test(this.email);
                                    } else {
                                        clearTimeout(this.timer);
                                        this.timer = setTimeout(() => {
                                            const emailRegex = /.+@.+/;
                                            this.showError = !emailRegex.test(this.email);
                                        }, 1000);
                                    }
                                }
                                if(this.email.length == 0 || this.showError == true){
                                    this.emailValid = false
                                } else {
                                    this.emailValid = true
                                }
                            }
                        }">
                                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                                    address</label>
                                <div class="relative mt-1">
                                    <input id="email" name="email" type="email" autocomplete="email"
                                           x-model="email" x-on:input="checkEmail" x-on:blur="checkEmail"
                                           maxlength="254" required
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <div x-show="showError" x-cloak x-transition
                                         class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                                        <svg class="w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="mt-1 text-sm text-red-600">
                                    <p x-show="showError" x-cloak x-collapse id="email-error">Not a valid email
                                        address</p>
                                </div>
                            </div>


                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input id="terms" name="terms" type="checkbox" x-model="termsValid"
                                           class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-600">
                                    <label for="terms" class="block ml-3 text-sm leading-6 text-gray-900">I have read
                                        and
                                        consent to the
                                        <a href="#"
                                           class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Terms
                                            of
                                            Service</a>
                                    </label>
                                </div>
                            </div>

                            <div>
                                {% comment %} Incompete form sign up button {% endcomment %}
                                <button type="submit"
                                        x-show="emailValid==false || termsValid==false"
                                        class="flex w-full justify-center rounded-md bg-indigo-600 opacity-40 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm">
                                    Reset password
                                </button>

                                {% comment %} Complete form sign up button {% endcomment %}
                                <button type="submit"
                                        x-show="emailValid && termsValid" x-cloak
                                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Reset password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <p class="mt-10 text-sm text-center text-gray-500">
                    Remember your password?
                    <a href="{% url 'login' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login
                        here</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
