{% extends 'accounts/accounts_base.html' %}
{% load static %}


{% block title %}<title>Password Reset Successful</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block content %}
    <div class="h-screen">
        <div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8">
            <div class="flex justify-center items-center flex-col">
                <a href="{% url 'home' %}" class="">
                    <img class="h-10 mx-auto"
                         src="{% static 'img/favicon/favicon.svg' %}"
                         alt="Your Company">
                </a>
                <h2 class="mt-6 text-2xl font-bold leading-9 tracking-tight text-center text-gray-900">Password reset
                    successful</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="px-6 py-12 bg-white shadow rounded-lg sm:px-12" id="login-form-container">
                    <div>
                        <div class="space-y-6">
                            <div class="text-sm text-center text-gray-700">
                                <p>Account password has been successfully reset. You may now login using your new
                                    password.</p>
                            </div>
                            <div>
                                <a href="{% url 'login' %}"
                                   class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
