asgiref==3.7.2
black==23.9.1
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==4.2.4
django-browser-reload==1.12.0
django-ckeditor-5==0.2.9
django-debug-toolbar==4.2.0
django-environ==0.10.0
django-tinymce==3.6.1
django-unfold==0.14.0
idna==3.4
importlib-metadata==6.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
requests==2.31.0
sqlparse==0.6.0
stripe==7.3.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
whitenoise==6.5.0
zipp==3.17.0
