{% extends 'base-ultrawide.html' %}
{% load static %}
{% load custom_tags %}

{# Title #}
{% block title %}<title>Untitled</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
{% endblock meta %}


{# Stylesheets #}
{% block style %}
    <style>
        .tox .tox-toolbar--scrolling {
            flex-wrap: wrap !important;
        }
    </style>
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}
    <main class="mx-auto">
        {% block content %}

            <form action="." method="POST" enctype="multipart/form-data" x-data="{ showSidebar: false }">
                {% csrf_token %}
                {{ form.media }}


                <div class="sticky top-0 mx-auto bg-white border-b border-gray-300 z-20">
                    <div class="px-4 mx-auto sm:px-6 lg:px-8 py-4">
                        <div class="flex items-center justify-between">

                            <div>
                                <h2 class="hidden sm:block text-lg md:text-2xl text-gray-800">
                                    {% if article %}
                                        Edit article
                                    {% else %}
                                        Create an article
                                    {% endif %}
                                </h2>
                            </div>

                            <div class="flex gap-4" x-data="{ isSaving: false, isPublishing: false }">
                                <button type="submit" name="save_type" value="draft" x-show="!isSaving && !isPublishing"
                                        @click="isSaving=true"
                                        class="btn-secondary-lg">
                                    Save draft
                                </button>
                                <button type="submit" name="save_type" value="publish"
                                        x-show="!isSaving && !isPublishing" @click="isPublishing=true"
                                        class="btn-secondary-lg">
                                    Publish
                                </button>
                                <div class="flex items-center py-1.5" x-show="isSaving" x-cloak>
                                    {% include 'components/processing/processing-xs.html' with include_padding=False text="Saving..." %}
                                </div>
                                <div class="flex items-center py-1.5" x-show="isPublishing" x-cloak>
                                    {% include 'components/processing/processing-xs.html' with include_padding=False text="Publishing..." %}
                                </div>

                                <button @click=showSidebar=!showSidebar type="button"
                                        class="btn-text-lg text-gray-300 hover:text-gray-800"
                                        :class="{ 'text-gray-600': showSidebar==true }">
                                    <svg class="w-6 h-6" fill="currentColor" stroke="none" stroke-width="1.5"
                                         xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M288 80V432H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H288zM512 96c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96zm-64 24c0 13.3-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24zm-24 72c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24h48zm24 120c0 13.3-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24z"/>
                                    </svg>
                                </button>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="relative flex">

                    <div class="flex-1 p-4 space-y-8" :class="{ 'hidden md:block': showSidebar==true }">

                        <div class="space-y-4">
                            <div>
                                <label for="title"
                                       class="block text-sm font-medium leading-6 text-gray-900 sr-only">
                                    Title
                                </label>
                                <div class="mt-2">
                                    <input type="text" name="title" id="title" placeholder="Add title..."
                                           value="{{ article.title }}"
                                           class="iblock w-full rounded-md border-0 py-3 font-bold text-gray-800 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 input-focus sm:text-2xl sm:leading-6">
                                </div>
                            </div>


                            <div class="mt-2" style="height: 512px">
                                <label for="{{ form.content.id_for_label }}"
                                       class="sr-only">
                                    Editor
                                </label>
                                <div class="mt-2">
                                    {{ form.content }}
                                </div>
                            </div>
                        </div>


                        <div x-data="{ selectedNav: 'main' }">

                            <nav class="w-full bg-red-200" aria-label="Sidebar">
                                <ul role="list" class="space-y-1 pr-2">
                                    <li>
                                        <button @click="selectedNav='main'" type="button"
                                                class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='main' }">
                                            Main
                                        </button>
                                    </li>
                                    <li>
                                        <button @click="selectedNav='authors'" type="button"
                                                class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='authors' }">
                                            Authors
                                        </button>
                                    </li>
                                    <li>
                                        <button @click="selectedNav='attach-documents'" type="button"
                                                class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='attach-documents' }">
                                            Attach
                                            Documents
                                        </button>
                                    </li>
                                    <li>
                                        <button @click="selectedNav='seo-properties'" type="button"
                                                class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='seo-properties' }">
                                            SEO
                                            Properties
                                        </button>
                                    </li>
                                    {% if article %}
                                        <li>
                                            <button @click="selectedNav='metrics'" type="button"
                                                    class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                    :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='metrics' }">
                                                Metrics
                                            </button>
                                        </li>
                                        <li>
                                            <button @click="selectedNav='danger-zone'" type="button"
                                                    class="w-full text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold"
                                                    :class="{ 'bg-gray-50 text-indigo-600': selectedNav==='danger-zone' }">
                                                Danger Zone
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>

                        </div>


                        <div>
                            {% for i in 12|iterate %}
                                <div class="py-10 text-gray-500">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est
                                    pellentesque
                                    elit ullamcorper. Tempor orci eu lobortis elementum nibh tellus molestie. Tristique
                                    magna
                                    sit amet purus gravida quis blandit turpis cursus. Nam aliquam sem et tortor
                                    consequat id
                                    porta. Metus aliquam eleifend mi in. Tincidunt eget nullam non nisi est sit amet
                                    facilisis
                                    magna. Dui ut ornare lectus sit amet est placerat in egestas. Augue ut lectus arcu
                                    bibendum
                                    at. Ornare arcu odio ut sem nulla pharetra diam sit amet. Ut diam quam nulla
                                    porttitor massa
                                    id neque.
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                    <aside x-show="showSidebar"
                           class="absolute md:static md:w-80 border-l border-gray-200 bg-gray-50 space-y-4 divide-y divide-gray-200 w-full z-10">
                        <!-- Your side navigation content here -->


                        <div class="space-y-4 pt-4 px-4 sm:px-6">
                            <h3 class="text-base font-medium leading-6 text-gray-800">Status & visibility</h3>
                            <div class="grid grid-cols-2 items-center">
                                <p class="text-sm text-gray-700">Status</p>
                                {% include 'components/forms/select/custom-select.html' with id="release_status" name="release_status" selected_option_key=article.release_status selected_option_name=article.get_release_status_display options=article.get_release_status_choices_as_list %}
                                <div class="col-span-2 text-xs text-gray-600 mt-2">
                                    Non-published articles are only visible to you and other admins.
                                </div>
                            </div>

                            <div class="grid grid-cols-2 items-center">
                                <p class="text-sm text-gray-700">Visibility</p>
                                {% include 'components/forms/select/custom-select.html' with id="visibility" name="visibility" selected_option_key=article.visibility selected_option_name=article.get_visibility_display options="[{'key': 'public', 'name': 'Public'}, {'key': 'private', 'name': 'Private'}]" %}
                                <div class="col-span-2 text-xs text-gray-600 mt-2">
                                    Non-published articles are only visible to you and other admins.
                                </div>
                            </div>
                        </div>

                        <div class="space-y-4 pt-4 px-4 sm:px-6" id="cropper-featured-image-container">
                            <h3 class="text-base font-medium leading-6 text-gray-800">Featured image</h3>

                            <label for="featured_image"
                                   class="block text-sm font-medium leading-6 text-gray-900 sr-only">
                                Cover photo
                            </label>

                            <div class="aspect-video rounded text-gray-300 border border-gray-200 bg-white overflow-hidden">
                                {% if article.featured_image %}
                                    <img src="{{ article.featured_image.url }}?lastmod={{ article.get_date_modified_utc_standard }}"
                                         alt="" class="cropper-cropped-preview">
                                {% else %}
                                    <img src="" alt="" class="cropper-cropped-preview">
                                {% endif %}
                                <svg class="aspect-video text-gray-300 bg-white cropper-cropped-preview"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                                </svg>
                            </div>

                            <label for="featured-image" class="cursor-pointer">
                                <ul class="mt-2 border border-gray-200 border-dashed divide-y divide-gray-200 rounded-md hover:bg-gray-100 overflow-hidden cropper-input-container bg-white">
                                    <li class="flex items-center py-2 px-4 text-sm">
                                        <svg class="flex-shrink-0 w-6 h-6 text-gray-400"
                                             xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                        <input id="featured-image" name="featured_image"
                                               type="file"
                                               accept="image/*" class="sr-only cropper-input">
                                        <div class="flex flex-shrink-0 ml-2 space-x-4 text-left">
                                            <p class="text-gray-900 rounded-md font-small cropper-input-text">
                                                Upload featured image
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <button type="button"
                                        class="mt-1 font-semibold text-indigo-600 hover:text-indigo-500 hidden">
                                    Remove image
                                </button>
                            </label>
                            <div class="mt-1 text-xs text-red-600 font-normal cropper-error-message"></div>
                            {% include 'components/cropperjs/crop-image-modal.html' %}
                        </div>


                    </aside>
                </div>


            </form>





        {% endblock content %}
    </main>
{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
{% endblock scripts %}