{% load static %}

<div class="py-6 md:flex md:items-center md:justify-between md:space-x-4">
    <div class="flex items-center space-x-4">
        {% include 'components/avatar/avatar-12x12.html' %}
        <div class="-mt-1">
            <div class="flex">
                {% if user.name %}
                    <h1 class="text-2xl font-semibold text-gray-800">{{ user.name }}</h1>
                    <h3 class="pl-2 text-2xl font-semibold text-gray-500">({{ user.username }})</h3>
                {% else %}
                    <h1 class="text-2xl font-semibold text-gray-800">{{ user.username }}</h1>
                {% endif %}
            </div>
            <p class="-mt-1 text-sm font-medium text-gray-500">@{{ user.username }}</p>
        </div>
    </div>
    {% if mode == 'view' %}
        <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-3 sm:space-y-0 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
            <a href="{% url 'profiles:settings-general' %}"
               class="inline-flex items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Edit</a>
        </div>
    {% elif mode == 'edit' %}
        <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-3 sm:space-y-0 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
            <a href="{% url 'profiles:profile' username=user.username %}"
               class="inline-flex items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</a>
            <button type="submit"
                    class="inline-flex items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Save changes
            </button>
        </div>
    {% endif %}
</div>