{% extends 'base.html' %}
{% load static %}


{% block title %}<title>Edit Account</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'cropper.min.css' %}">
{% endblock style %}


{% block head_script %}
{% endblock head_script %}


{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% include 'profiles/components/profile-header.html' with mode="edit" %}

            <div class="lg:flex lg:gap-x-16">
                {% include 'profiles/edit/components/sidebar.html' %}


                <div class="px-4 py-2 sm:px-6 lg:flex-auto lg:px-0">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">

                        {% if not user.email_verified %}
                            <div class="pb-2">
                                <div class="bg-red-50 px-4 py-2 text-sm rounded-md text-red-600">
                                    <div class="font-semibold">
                                        Email has not been verified
                                    </div>
                                    <div>
                                        You will have limited access to certain features until your account has been
                                        verified.
                                    </div>
                                    <a href="{% url 'send-verification-email' username=user.username %}"
                                       class="font-semibold underline">Resend verification email</a>
                                </div>
                            </div>
                        {% endif %}

                        <div class="text-2xl text-gray-800 font-semibold pb-4">
                            General
                        </div>
                        <div class="space-y-16 sm:space-y-20">

                            {% comment %} Profile {% endcomment %}
                            <div>
                                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                                <p class="mt-1 text-sm leading-6 text-gray-500">This information will be displayed
                                    publicly so be careful what you share.</p>

                                <div class="mt-4 space-y-4 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">

                                    {# Username #}
                                    <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                        <div class="col-span-6 flex items-center">
                                            <div class="w-wull">
                                                <div class="font-medium text-gray-900">
                                                    Username
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal sr-only">A unique name to
                                                    identify
                                                    you
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-6 flex items-center">
                                            <div class="w-full">
                                                <p class="text-gray-900">{{ user.username }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    {# Name (centered) #}
                                    <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                        <div class="col-span-6 flex items-center">
                                            <div class="w-full">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                    Name
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal sr-only">
                                                    Your full name
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-6 flex items-center">
                                            <div class="w-full">
                                                <label for="name" class="sr-only">First
                                                    name</label>
                                                <input type="text" id="name" name="name"
                                                       maxlength="{{ form.name.field.max_length }}"
                                                       value="{{ user.name }}"
                                                       class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                            </div>
                                        </div>
                                    </div>

                                    {# Profile picture #}
                                    <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                        <div class="col-span-6">
                                            <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Profile
                                                picture
                                            </div>
                                            <div class="text-xs text-gray-600 font-normal">Upload a png, jpg up to 1 MB
                                                (recommended size 400 x 400 px)
                                            </div>
                                        </div>

                                        <div class="col-span-6 flex gap-4 items-center" id="cropper-profile-container">
                                            <div class="flex-none w-12 h-12 bg-gray-400 rounded-full">
                                                {% include 'components/avatar/avatar-12x12.html' %}
                                                </div>
                                                <div>
                                                    <label for="profile-image" class="cursor-pointer">
                                                        <ul class="border border-gray-200 border-dashed divide-y divide-gray-200 rounded-md hover:bg-gray-100 overflow-hidden cropper-input-container">
                                                            <li class="flex items-center py-2 px-4 text-sm">
                                                                <svg class="flex-shrink-0 w-5 h-5 text-gray-400"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 20 20"
                                                                     fill="currentColor" aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                                                          clip-rule="evenodd"></path>
                                                                </svg>
                                                                <input id="profile-image" name="profile_image"
                                                                       type="file"
                                                                       accept="image/*" class="sr-only cropper-input">
                                                                <div class="flex flex-shrink-0 ml-2 space-x-4 text-left">
                                                                    <p class="text-gray-500 rounded-md font-small cropper-input-text">
                                                                        Upload profile image
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <button type="button"
                                                                class="mt-1 font-semibold text-indigo-600 hover:text-indigo-500 hidden">
                                                            Remove image
                                                        </button>
                                                    </label>
                                                    <div x-show="showError" x-cloak
                                                         class="mt-1 text-xs text-red-600 font-normal">Show errors,
                                                        warnings, or other feedback
                                                    </div>
                                                </div>
                                                {% include 'components/cropperjs/crop-image-modal.html' %}
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-12 pt-4 gap-12">
                                            <div class="col-span-6">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                    Description
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal">Optional description of
                                                    the
                                                    field
                                                </div>
                                            </div>
                                            <div class="col-span-6">
                                                <label for="description" class="sr-only"></label>
                                                <textarea type="text" name="description" id="description"
                                                          maxlength="{{ form.description.field.max_length }}"
                                                          class="resize-y-auto block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{ user.description }}</textarea>
                                            </div>
                                        </div>


                                        <div class="grid grid-cols-12 pt-4 gap-12">
                                            <div class="col-span-6 flex items-center">
                                                <div>
                                                    <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                        Theme Filter
                                                    </div>
                                                    <div class="text-xs text-gray-600 font-normal sr-only">
                                                        Set the website theme
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex items-center">
                                                <label for="theme" class="sr-only">Theme</label>
                                                {% include 'components/forms/select/custom-select-filter.html' with id="theme" name="theme" selected_option=user.theme options=theme_choices %}
                                            </div>
                                        </div>


                                        <div class="grid grid-cols-12 pt-4 gap-12">
                                            <div class="col-span-6 flex items-center">
                                                <div>
                                                    <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                        Theme
                                                    </div>
                                                    <div class="text-xs text-gray-600 font-normal sr-only">
                                                        Set the website theme
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex items-center">
                                                <label for="theme" class="sr-only">Theme</label>
                                                {% include 'components/forms/select/custom-select.html' with id="theme" name="theme" selected_option=user.theme options=theme_choices %}
                                            </div>
                                        </div>


                                        <div class="grid grid-cols-12 pt-4 gap-12">
                                            <div class="col-span-6">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                    Profile
                                                    public
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal">
                                                    Set profile to be viewable by others
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex justify-end">
                                                {% include 'components/forms/toggles/toggle.html' with state=user.is_profile_public id='is_profile_public' name='is_profile_public' %}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {% comment %} Example section {% endcomment %}
                                {#                            <div>#}
                                {#                                <h2 class="text-base font-semibold leading-7 text-gray-900">Bank accounts</h2>#}
                                {#                                <p class="mt-1 text-sm leading-6 text-gray-500">Connect bank accounts to your#}
                                {#                                    account.</p>#}
                                {##}
                                {#                                <ul role="list"#}
                                {#                                    class="mt-6 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">#}
                                {#                                    <li class="flex justify-between gap-x-6 py-6">#}
                                {#                                        <div class="font-medium text-gray-900">TD Canada Trust</div>#}
                                {#                                        <button type="button"#}
                                {#                                                class="font-semibold text-indigo-600 hover:text-indigo-500">Update#}
                                {#                                        </button>#}
                                {#                                    </li>#}
                                {#                                    <li class="flex justify-between gap-x-6 py-6">#}
                                {#                                        <div class="font-medium text-gray-900">Royal Bank of Canada</div>#}
                                {#                                        <button type="button"#}
                                {#                                                class="font-semibold text-indigo-600 hover:text-indigo-500">Update#}
                                {#                                        </button>#}
                                {#                                    </li>#}
                                {#                                </ul>#}
                                {##}
                                {#                                <div class="flex border-t border-gray-100 pt-6">#}
                                {#                                    <button type="button"#}
                                {#                                            class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500"><span#}
                                {#                                            aria-hidden="true">+</span> Add another bank#}
                                {#                                    </button>#}
                                {#                                </div>#}
                                {#                            </div>#}

                                {% comment %} Language and dates {% endcomment %}
                                <div>
                                    <h2 class="text-base font-semibold leading-7 text-gray-900">Language and
                                        Timezone</h2>
                                    <p class="mt-1 text-sm leading-6 text-gray-500">Choose what language and date format
                                        to
                                        use throughout your account.</p>

                                    <dl class="mt-6 space-y-6 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">

                                        <div class="pt-6 sm:flex">
                                            <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                Language
                                            </dt>
                                            <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                                                <div class="text-gray-900">English</div>
                                                <button type="button"
                                                        class="font-semibold text-indigo-600 hover:text-indigo-500">
                                                    Update
                                                </button>
                                            </dd>
                                        </div>


                                        <div class="pt-6 sm:flex">
                                            <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Date
                                                format
                                            </dt>
                                            <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                                                <div class="text-gray-900">DD-MM-YYYY</div>
                                                <button type="button"
                                                        class="font-semibold text-indigo-600 hover:text-indigo-500">
                                                    Update
                                                </button>
                                            </dd>
                                        </div>
                                        <div class="flex pt-6">
                                            <dt class="w-64 flex-none pr-6 font-medium text-gray-900"
                                                id="timezone-option-label">
                                                Automatic
                                                timezone
                                            </dt>
                                            <dd class="flex flex-auto items-center justify-end">
                                                <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                                                <button type="button"
                                                        class="bg-gray-200 flex w-8 cursor-pointer rounded-full p-px ring-1 ring-inset ring-gray-900/5 transition-colors duration-200 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                                        role="switch" aria-checked="true"
                                                        aria-labelledby="timezone-option-label">
                                                    <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
                                                    <span aria-hidden="true"
                                                          class="translate-x-0 h-4 w-4 transform rounded-full bg-white shadow-sm ring-1 ring-gray-900/5 transition duration-200 ease-in-out"></span>
                                                </button>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>

                                {% comment %} Metrics {% endcomment %}
                                {% comment %} Profile {% endcomment %}
                                <div>
                                    <h2 class="text-base font-semibold leading-7 text-gray-900">Metrics</h2>
                                    <p class="mt-1 text-sm leading-6 text-gray-500">This information will be displayed
                                        publicly so be careful what you share.</p>
                                    <div class="mt-4 space-y-4 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">

                                        <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                            <div class="col-span-6">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Date
                                                    joined
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal">Optional description of
                                                    the
                                                    field
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex items-center">
                                                <p class="text-gray-900">{{ user.date_joined }}</p>
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                            <div class="col-span-6">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                    Followers
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal">Optional description of
                                                    the
                                                    field
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex items-center">
                                                <p class="text-gray-900">102</p>
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-12 pt-4 gap-12" x-data="{ showError: false }">
                                            <div class="col-span-6">
                                                <div class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Cups
                                                    of
                                                    coffee
                                                </div>
                                                <div class="text-xs text-gray-600 font-normal">Optional description of
                                                    the
                                                    field
                                                </div>
                                            </div>
                                            <div class="col-span-6 flex items-center">
                                                <p class="text-gray-900">57</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

        </form>
    </div>
{% endblock content %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="{% static 'cropper.js' %}"></script>
    <script>


        document.addEventListener("DOMContentLoaded", function (event) {
            // On change show image with crop options
            cropperCropImage("cropper-profile-container")
        });


    </script>


{% endblock scripts %}