{% extends 'base.html' %}
{% load static %}


{% block title %}<title>Account Security</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block style %}
{% endblock style %}


{% block head_script %}
{% endblock head_script %}


{% block content %}
    <div>
        {% include 'profiles/components/profile-header.html' %}

        <div class="lg:flex lg:gap-x-16">
            {% include 'profiles/edit/components/sidebar.html' %}

            <div class="px-4 py-2 sm:px-6 lg:flex-auto lg:px-0">
                <div class="mx-auto max-w-4xl lg:mx-0 lg:max-w-none">

                    {% if not user.email_verified %}
                        <div class="pb-2">
                            <div class="bg-red-50 px-4 py-2 text-sm rounded-md text-red-600">
                                <div class="font-semibold">
                                    Email has not been verified
                                </div>
                                <div>
                                    You will have limited access to certain features until your account has been
                                    verified.
                                </div>
                                <a href="{% url 'send-verification-email' username=user.username %}"
                                   class="font-semibold underline">Resend verification email</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="text-2xl text-gray-800 font-semibold pb-4">
                        Security
                    </div>
                    <div class="space-y-16 sm:space-y-20">
                        {# Email and password #}
                        <div>
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Email and password</h2>
                            <p class="mt-1 text-sm leading-6 text-gray-500">Change your account's email address or
                                account password.</p>
                            <div class="mt-4 space-y-4 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">

                                {# Change email (top) #}
                                <div class="grid grid-cols-1 md:grid-cols-12 pt-2 md:pt-4 gap-2 md:gap-12"
                                     x-data="{ showError: false, isEditing: false, isProcessing: false }">
                                    <div class="col-span-12 md:col-span-6 flex">
                                        <div class="w-full">
                                            <label for="name"
                                                   class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                Email address
                                            </label>
                                            <div class="text-xs text-gray-600 font-normal sr-only">Emails are always
                                                kept private
                                            </div>
                                        </div>
                                    </div>
                                    <form id="changeEmailForm"
                                          action="{% url 'profiles:settings-security-change-email' %}"
                                          method="POST"
                                          @keydown.escape.window="isEditing=false"
                                          @submit="isProcessing=validateForm('changeEmailForm')"
                                          class="col-span-12 md:col-span-6 flex items-center justify-between gap-6">
                                        {% csrf_token %}

                                        <input type="hidden" name="username" value="{{ user.username }}">

                                        <p x-show="!isEditing" x-transition:enter
                                           class="text-gray-900">{{ user.email }}</p>

                                        <div x-show="isEditing" x-cloak x-transition:enter class="w-full">
                                            <label for="email" class="sr-only">Email</label>
                                            <div>
                                                <input type="email" id="email" name="email"
                                                       value="{{ user.email }}" required
                                                       class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                            </div>
                                            <div class="flex justify-end gap-4">
                                                <button type="button" x-show="isEditing && !isProcessing"
                                                        @click="isEditing=false"
                                                        x-transition:enter x-cloak
                                                        class="font-semibold text-gray-500 hover:text-gray-900 py-2">
                                                    Cancel
                                                </button>
                                                <button type="submit" x-show="isEditing && !isProcessing"
                                                        x-transition:enter x-cloak
                                                        class="font-semibold text-indigo-600 hover:text-indigo-500 py-2">
                                                    Save
                                                    changes
                                                </button>
                                                <div x-show="isEditing && isProcessing">
                                                    {% include 'components/processing/processing-sm.html' with text="Saving..." %}
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" x-show="!isEditing" @click="isEditing=true"
                                                x-transition:enter
                                                class="font-semibold text-indigo-600 hover:text-indigo-500">Change
                                        </button>
                                    </form>
                                </div>


                                {# Change password (centered vertically) #}
                                <div class="grid grid-cols-1 md:grid-cols-12 pt-2 md:pt-4 gap-2 md:gap-12"
                                     x-data="{ showError: false }">
                                    <div class="col-span-12 md:col-span-6 flex items-center">
                                        <div class="w-full">
                                            <label for="name"
                                                   class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                Password
                                            </label>
                                            <div class="text-xs text-gray-600 font-normal sr-only">Change or modify your
                                                account's password
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-12 md:col-span-6 flex items-center justify-between">
                                        <p class="text-gray-900">************</p>
                                        <a href="{% url 'password_change' %}"
                                           class="font-semibold text-indigo-600 hover:text-indigo-500">Change</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {# Danger Zone #}
                        <div x-data="{ isDeleteModalOpen: false }">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Danger zone</h2>
                            <p class="mt-1 text-sm leading-6 text-gray-500">Critical settings and account changes, be
                                certain before modifying.</p>
                            <div class="mt-4 space-y-4 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">

                                {# Danger Zone > Delete account #}
                                <div class="grid grid-cols-1 md:grid-cols-12 pt-2 md:pt-4 gap-2 md:gap-12"
                                     x-data="{ showError: false }">
                                    <div class="col-span-12 md:col-span-6 flex items-center">
                                        <div class="w-full">
                                            <label for="name"
                                                   class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">
                                                Delete account
                                            </label>
                                            <div class="text-xs text-gray-600 font-normal">
                                                Once you delete your account, there is no going back.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-12 md:col-span-6 flex items-center md:justify-end">
                                        <button type="button" @click="isDeleteModalOpen=true"
                                                class="font-semibold text-gray-600 hover:text-red-500 focus:outline-none">
                                            Delete account
                                        </button>
                                        {% include 'profiles/edit/modals/delete-account-confirm-modal.html' %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}