{% extends 'base.html' %}
{% load static %}


{% block title %}<title>Home</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block style %}
{% endblock style %}


{% block head_script %}
{% endblock head_script %}


{% block content %}
    <div>
        <div class="text-xl text-gray-800">Content block goes here...</div>
        <div class="block">

            <div class="font-medium text-gray-800 leading-6 py-2">Quick access pages</div>
            <div class="border border-gray-200 rounded p-2">
                <div class="text-sm font-medium text-blue-500">
                    <ul class="list-disc list-inside pl-2">
                        <li><a href="{% url 'home' %}" class="hover:text-blue-800 hover:underline">Home</a></li>
                        <li><a href="{% url 'login' %}" class="hover:text-blue-800 hover:underline">Login</a></li>
                        <li><a href="{% url 'logout' %}" class="hover:text-blue-800 hover:underline">Logout</a></li>
                        <li><a href="{% url 'register' %}" class="hover:text-blue-800 hover:underline">Register</a></li>
                        <li><a href="{% url 'test' %}" class="hover:text-blue-800 hover:underline">Test page</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}