{% extends 'base.html' %}
{% load static %}


{% block title %}<title>Home</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block style %}
{% endblock style %}


{% block head_script %}
{% endblock head_script %}


{% block content %}
    <div>
        <div class="text-xl text-gray-800">Content block goes here...</div>
        <div class="block">

            <div class="font-medium text-gray-800 leading-6 py-2">Quick access pages</div>
            <div class="border border-gray-200 rounded p-2">

                {#                <div class="grid grid-cols-2 gap-8">#}
                {#                    <div>#}
                {#                        <ul class="list-disc list-inside text-sm font-medium text-blue-500 pl-2">#}
                {#                            <li><a href="{% url 'home' %}" class="hover:text-blue-800 hover:underline">Home</a></li>#}
                {#                            <li><a href="{% url 'test' %}" class="hover:text-blue-800 hover:underline">Test page</a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                    <div>#}
                {#                        <div class="flex p-2 gap-4">#}
                {#                            <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">#}
                {#                                Current user: {{ user.username }} ({{ user.email }})#}
                {#                            </div>#}
                {#                            <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">#}
                {#                                Authenticated: {{ user.is_authenticated }}#}
                {#                            </div>#}
                {#                            <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">#}
                {#                                Staff: {{ user.is_staff }}#}
                {#                            </div>#}
                {#                            <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">#}
                {#                                Admin: {{ user.is_admin }}#}
                {#                            </div>#}
                {#                            <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">#}
                {#                                Superuser: {{ user.is_superuser }}#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <ul class="list-disc list-inside text-sm font-medium text-blue-500 pl-2">#}
                {#                            {% if user.is_authenticated %}#}
                {#                                <li><a href="{% url 'logout' %}" class="hover:text-blue-800 hover:underline">Logout</a>#}
                {#                                    <span class="text-gray-600 text-xs font-normal">(Logout to view the register and login pages)</span>#}
                {#                                </li>#}
                {#                            {% else %}#}
                {#                                <li><a href="{% url 'login' %}" class="hover:text-blue-800 hover:underline">Login</a>#}
                {#                                </li>#}
                {#                                <li><a href="{% url 'register' %}"#}
                {#                                       class="hover:text-blue-800 hover:underline">Register</a>#}
                {#                                </li>#}
                {#                            {% endif %}#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="text-sm font-medium text-blue-500">

                    <div class="flex p-2 gap-4">
                        <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">
                            {% if user.is_authenticated %}
                                Current user: {{ user.username }} ({{ user.email }})
                            {% else %}
                                Current user: Anonymous
                            {% endif %}
                        </div>
                        <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">
                            Authenticated: {{ user.is_authenticated }}
                        </div>
                        <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">
                            Staff: {{ user.is_staff }}
                        </div>
                        <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">
                            Admin: {% if user.is_admin %}{{ user.is_admin }}{% else %}False{% endif %}
                        </div>
                        <div class="bg-gray-100 rounded text-xs font-medium text-gray-600 py-1 px-2">
                            Superuser: {{ user.is_superuser }}
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-8">

                        <div>
                            <div class="text-sm font-medium text-gray-800">Main pages</div>
                            <ul class="list-disc list-inside pl-2">
                                <li><a href="{% url 'home' %}" class="hover:text-blue-800 hover:underline">Home</a></li>
                                <li><a href="{% url 'test' %}" class="hover:text-blue-800 hover:underline">Test page</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-800">Authentication pages</div>
                            <ul class="list-disc list-inside pl-2">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}"
                                           class="hover:text-blue-800 hover:underline">Logout</a>
                                        <span class="text-gray-600 text-xs font-normal">(Logout to view the register and login pages)</span>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'login' %}"
                                           class="hover:text-blue-800 hover:underline">Login</a>
                                    </li>
                                    <li><a href="{% url 'register' %}"
                                           class="hover:text-blue-800 hover:underline">Register</a>
                                    </li>
                                {% endif %}
                                <li><a href="{% url 'password_reset' %}"
                                       class="hover:text-blue-800 hover:underline">Reset
                                    password</a></li>
                                <li><a href="{% url 'password_change' %}"
                                       class="hover:text-blue-800 hover:underline">Change
                                    password</a></li>
                            </ul>
                        </div>

                    </div>


                </div>


            </div>

        </div>
    </div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}