{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}<title>Testing page</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}
    <main class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 py-4 sm:py-6">
        {% block content %}
            <p class="text-xl text-gray-700">Testing page</p>


            <div class="mx-auto max-w-5xl px-6 lg:px-8 divide-y">

                <div class="py-12">
                    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Roadmap</h2>
                    <div class="mt-6 text-lg leading-8 text-gray-600 space-y-2">
                        <p>
                            We're chipping away at improvements to the platform.
                        </p>
                        <p>
                            If you have any suggestions, please <a href="#"
                                                                   class="font-medium text-gray-900 underline">let
                            us know</a>.
                        </p>
                    </div>
                </div>


                <section class="py-12 grid grid-cols-4">

                    <div class="align-top">
                        <h2 class="flex gap-x-4 items-center text-2xl font-semibold tracking-tight text-indigo-600 sm:text-4xl">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
                            </svg>
                            Active
                        </h2>
                    </div>


                    <div class="col-span-3 space-y-4">

                        <div class="bg-white rounded-md px-6 py-4 shadow-[0_1px_3px_rgba(15,23,42,0.03),0_1px_2px_rgba(15,23,42,0.06)] ring-1 ring-slate-600/[0.04]">
                            <h3 class="font-medium text-gray-800 text-lg">Feature 03</h3>
                            <p class="mt-2 text-gray-600">Additional capabilties for properties...</p>
                        </div>

                        <div class="bg-white rounded-md px-6 py-4 shadow-[0_1px_3px_rgba(15,23,42,0.03),0_1px_2px_rgba(15,23,42,0.06)] ring-1 ring-slate-600/[0.04]">
                            <h3 class="font-medium text-gray-800 text-lg">Feature 03</h3>
                            <p class="mt-2 text-gray-600">Additional capabilties for properties...</p>
                        </div>


                        <div class="bg-white rounded-md px-6 py-4 border border-gray-200">
                            <h3 class="font-medium text-gray-800 text-lg">Feature 03</h3>
                            <p class="mt-2 text-gray-600">Additional capabilties for properties...</p>
                        </div>

                        <div class="bg-white rounded-md px-6 py-4 border border-gray-200">
                            <h3 class="font-medium text-gray-800 text-lg">Feature 03</h3>
                            <p class="mt-2 text-gray-600">Additional capabilties for properties...</p>
                        </div>
                    </div>
                </section>



            </div>




            <div class="divide-y">
                <div class="py-16 bg-white">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Roadmap</h2>
                            <div class="mt-6 text-lg leading-8 text-gray-600 space-y-2">
                                <p>
                                    We're chipping away at improvements to the platform.
                                </p>
                                <p>
                                    If you have any suggestions, please <a href="#"
                                                                           class="font-medium text-gray-900 underline">let
                                    us know</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-16">
                    xxxx
                </div>

                <div class="py-16">
                    xxxx
                </div>
                <div class="py-16">
                    xxxx
                </div>
                <div class="py-16">
                    xxxx
                </div>
            </div>




            <div>
                asdf
            </div>


            <div class="bg-white">
                <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
                    <div class="mx-auto max-w-2xl text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Boost your productivity.<br>Start
                            using our app today.</h2>
                        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">Incididunt sint fugiat pariatur
                            cupidatat consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea.</p>
                        <div class="mt-10 flex items-center justify-center gap-x-6">
                            <a href="#"
                               class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get
                                started</a>
                            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span
                                    aria-hidden="true">→</span></a>
                        </div>
                    </div>
                </div>
            </div>





        {% endblock content %}
    </main>
{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
    <script src="{% static '/js/analytics-onload.js' %}"></script>
    <script src="{% static '/js/analytics-beforeunload.js' %}"></script>

    <
{% endblock scripts %}