{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}<title>Testing page</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}
    <main class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 py-4 sm:py-6">
        {% block content %}

            <div class="text-gray-600 text-lg font-semibold">
                {{ data }}
            </div>

            <div id="delete-example-modal" class="hidden">
                <form hx-delete="/delete/"
                      hx-target="body" hx-replace-url="/blog/articles/"
                      class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                    <button type="submit" data-modal-id="delete-example-modal"
                            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                        Delete article
                    </button>
                    <button type="button" id="cancel-button" data-modal-id="delete-example-modal"
                            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                        Cancel
                    </button>
                </form>
            </div>

            <button type="button" id="delete-button" data-modal-id="delete-example-modal">
                Delete
            </button>

        {% endblock content %}
    </main>
{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
    <script src="{% static '/js/analytics-onload.js' %}"></script>
    <script src="{% static '/js/analytics-beforeunload.js' %}"></script>



{% endblock scripts %}