{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}<title>Subscription Plans</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}
    <main class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 py-4 sm:py-6">
        {% block content %}

            {# Subscription plans #}
            <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-32 lg:px-8" x-data="{ selectedInterval: 'monthly' }">
                <div class="mx-auto max-w-4xl text-center">
                    <h1 class="text-base font-semibold leading-7 text-indigo-600">Pricing</h1>
                    <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Pricing plans
                        for teams of&nbsp;all&nbsp;sizes</p>
                </div>
                <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">Choose an
                    affordable plan that’s packed with the best features for engaging your audience, creating
                    customer loyalty, and driving sales.</p>
                <div class="mt-16 flex justify-center">
                    <fieldset
                            class="grid grid-cols-2 gap-x-1 rounded-full p-1 text-center text-xs font-semibold leading-5 ring-1 ring-inset ring-gray-200">
                        <legend class="sr-only">Payment frequency</legend>

                        <label @click="selectedInterval='monthly'" class="cursor-pointer rounded-full px-2.5 py-1"
                               :class="{ 'bg-indigo-600 text-white': selectedInterval==='monthly' }">
                            <input type="radio" name="frequency" value="monthly" class="sr-only">
                            <span>Monthly</span>
                        </label>
                        <!-- Checked: "bg-indigo-600 text-white", Not Checked: "text-gray-500" -->
                        <label @click="selectedInterval='annual'" class="cursor-pointer rounded-full px-2.5 py-1"
                               :class="{ 'bg-indigo-600 text-white': selectedInterval==='annual' }">
                            <input type="radio" name="frequency" value="annually" class="sr-only">
                            <span>Annually</span>
                        </label>
                    </fieldset>
                </div>
                <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4">
                    {% for plan in available_plans %}
                        {% include 'subscriptions/components/plan-card.html' with plan=plan is_selected=False %}
                    {% endfor %}
                </div>
            </div>


            <!-- Logo cloud -->
            <div class="mx-auto mt-24 max-w-7xl px-6 sm:mt-32 lg:px-8">
                <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                         src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg"
                         alt="Transistor" width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                         src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform"
                         width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                         src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple"
                         width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
                         src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal"
                         width="158" height="48">
                    <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
                         src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic"
                         width="158" height="48">
                </div>
                <div class="mt-16 flex justify-center">
                    <p class="relative rounded-full bg-gray-50 px-4 py-1.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/5">
                        <span class="hidden md:inline">Transistor saves up to $40,000 per year, per employee by working with us.</span>
                        <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0"
                                                                                aria-hidden="true"></span> See
                            our case study <span aria-hidden="true">&rarr;</span></a>
                    </p>
                </div>
            </div>

            <!-- Testimonial section -->
            <div class="mx-auto mt-24 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
                <div class="relative overflow-hidden bg-gray-900 px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
                    <img class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0"
                         src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80"
                         alt="">
                    <div class="absolute inset-0 bg-gray-900/90 mix-blend-multiply"></div>
                    <div class="absolute -left-80 -top-56 transform-gpu blur-3xl" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-[0.45]"
                             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                    <div class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl"
                         aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-25"
                             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                    <div class="relative mx-auto max-w-2xl lg:mx-0">
                        <img class="h-12 w-auto"
                             src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt="">
                        <figure>
                            <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                                <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita
                                    voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed
                                    rerum et corporis.”</p>
                            </blockquote>
                            <figcaption class="mt-6 text-base text-white">
                                <div class="font-semibold">Judith Black</div>
                                <div class="mt-1">CEO of Workcation</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- FAQ section -->
            {% include 'subscriptions/partials/faq-questions.html' %}

        {% endblock content %}
    </main>
{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
{% endblock scripts %}