.grecaptcha-badge {
    visibility: hidden;
}

[x-cloak] {
    display: none !important;
}

textarea.tinymce {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.tox-statusbar__branding {
    display: none;
}

div.tox-tinymce {
    border-radius: 0.375rem;
}
