<div class="rounded-3xl p-8 ring-1 ring-gray-200">
    <h2 id="tier-hobby"
        class="text-lg font-semibold leading-8 text-gray-900">{{ plan.name }}</h2>
    <p class="mt-4 text-sm leading-6 text-gray-600">{{ plan.description }}</p>
    <p class="mt-6 flex items-baseline gap-x-1">

        <span
              class="text-4xl font-bold tracking-tight text-gray-900">${{ plan.monthly_term.price_dollars|floatformat:0 }}</span>

        <span class="text-sm font-semibold leading-6 text-gray-600">/month</span>
    </p>
    <form
          action="{% url 'subscriptions:subscription-checkout' term_uuid=plan.monthly_term.uuid %}"
          method="POST">
        {% csrf_token %}
        <button type="submit" aria-describedby="tier-hobby"
                class="w-full mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300">
            Buy
            plan
        </button>
    </form>

    <form x-show="selectedTerm==='annual'" x-cloak=""
          action="{% url 'subscriptions:subscription-checkout' term_uuid=plan.annual_term.uuid %}"
          method="POST">
        {% csrf_token %}
        <button type="submit" aria-describedby="tier-hobby"
                class="w-full mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300">
            Buy
            plan
        </button>
    </form>


    {# Features #}
    {% if plan.features %}
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
            {% for feature in plan.features %}
                <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20"
                         fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                              clip-rule="evenodd"/>
                    </svg>
                    {{ feature }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>