{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}<title>Untitled</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}

    {# Blog header start #}
    <div class="bg-gray-50">
        <div class="py-10">
            <div class="mx-auto max-w-6xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-4xl font-bold leading-6 text-gray-800">Blog center</h2>
                    <p class="mt-6 text-xl leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt
                        sunt.</p>
                </div>
            </div>
        </div>

        {# Blog navigation start #}
        <div class="border-b border-gray-200 bg-gray-50">
            <div class="mx-auto max-w-6xl px-4 py-4 sm:px-6 lg:px-8">
                <div class="flex justify-between">

                    <div class="flex items-end gap-8 overflow-x-auto">
                        <a href="{% url 'blog:article-list' %}"
                           class="whitespace-nowrap rounded-md px-4 py-2 text-sm uppercase text-gray-500 hover:bg-gray-200 hover:text-gray-800">
                            All
                        </a>
                        <a href="{% url 'blog:create-article' %}"
                           class="whitespace-nowrap rounded-md px-4 py-2 text-sm uppercase text-gray-500 hover:bg-gray-200 hover:text-gray-800 hidden sm:block">
                            Editor picks
                        </a>
                        <a href="{% url 'blog:create-article' %}"
                           class="whitespace-nowrap rounded-md px-4 py-2 text-sm uppercase text-gray-500 hover:bg-gray-200 hover:text-gray-800">
                            Publish a story
                        </a>
                        <a href="#"
                           class="whitespace-nowrap rounded-md px-4 py-2 text-sm uppercase text-gray-500 hover:bg-gray-200 hover:text-gray-800">
                            Receive our newsletter
                        </a>
                    </div>

                    <div>
                        <button type="button"
                                class="inline-flex items-center rounded-md px-4 py-2 text-sm font-semibold text-gray-500 gap-x-1.5 hover:bg-gray-200 hover:text-gray-800">
                            <svg class="h-5 w-5 -ml-0.5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                            </svg>
                            Search
                        </button>
                        <div class="hidden">
                            <label for="blog_search" class="sr-only">Email</label>
                            <div class="relative mt-2 rounded-md shadow-sm">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                                    </svg>

                                </div>
                                <input type="search" name="blog_search" id="blog_search"
                                       class="block w-full rounded-md border-0 pl-10 placeholder:text-gray-400 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                       placeholder="Search for an article...">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {# Blog navigation end #}

    </div>
    {# Blog header end #}


    <main class="px-4 mx-auto max-w-6xl sm:px-6 lg:px-8 py-4 sm:py-6">


        {% block content %}

            <div class="space-y-20">
                {# Trending stories #}
                <section>
                    <div class="flex justify-between py-8">
                        <div class="text-2xl font-medium text-gray-800">
                            Trending stories
                        </div>
                        <div>
                            <a href="#" class="flex gap-x-1.5 items-center text-gray-600 hover:text-gray-800">
                                View all
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

                        <div class="lg:col-span-2">
                            {% include 'blog/components/article-list-item-featured.html' %}
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-8">

                            {% for article in published_articles %}
                                {% include 'blog/components/article-list-item-type1.html' with article=article %}
                                {% include 'blog/components/article-list-item-type1.html' with article=article %}
                            {% endfor %}


                        </div>
                    </div>
                </section>


                {# Latest stories #}
                <section class="relative">

                    <div class="flex justify-between py-8">
                        <div class="text-2xl font-medium text-gray-800">
                            Trending stories
                        </div>
                        <div>
                            <a href="#" class="flex gap-x-1.5 items-center text-gray-600 hover:text-gray-800">
                                View all
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16">
                        {% for article in published_articles %}
                            {% include 'blog/components/article-list-item-type2.html' with article=article %}
                        {% endfor %}
                    </div>

                </section>
            </div>





        {% endblock content %}
    </main>
{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
{% endblock scripts %}