{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}
    {% if article.meta_title %}
        <title>{{ article.meta_title }}</title>
    {% else %}
        <title>{{ article.title }}</title>
    {% endif %}
{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
    {% if article.meta_description %}
        <meta name="description" content="{{ article.meta_description }}">
    {% else %}
        <meta name="description" content="{{ article.description }}">
    {% endif %}

    {% if article.meta_keywords %}
    <meta name="keywords" content="{{ article.meta_keywords }}">
    {% endif %}

    <meta name="author" content="{{ article.lead_author }}">
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block main %}

    {% include 'blog/partials/articles-list.html' %}

{% endblock main %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
{% endblock scripts %}