{% extends 'accounts/accounts_base.html' %}
{% load static %}


{% block title %}<title>Change Password</title>{% endblock title %}


{% block meta %}
{% endblock meta %}


{% block content %}
    <div class="h-screen">
        <div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8">
            <div class="flex justify-center items-center flex-col">
                <a href="{% url 'home' %}" class="">
                    <img class="h-10 mx-auto"
                         src="{% static 'img/favicon/favicon.svg' %}"
                         alt="Your Company">
                </a>
                <h2 class="mt-6 text-2xl font-bold leading-9 tracking-tight text-center text-gray-900">Change your
                    password</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="px-6 py-12 bg-white shadow rounded-lg sm:px-12" id="login-form-container">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="space-y-6">
                            {% comment %} Current password {% endcomment %}
                            <div>
                                <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">Current
                                    password</label>
                                <div class="mt-1">
                                    <input id="old_password" name="old_password" type="password"
                                           autocomplete="current-password" required
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <hr>

                            {% comment %} New password field {% endcomment %}
                            <div>
                                <label for="new_password1" class="block text-sm font-medium leading-6 text-gray-900">New
                                    password</label>
                                <div class="mt-1">
                                    <input id="new_password1" name="new_password1" type="password"
                                           autocomplete="new-password" required
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            {% comment %} Confirm new password field {% endcomment %}
                            <div>
                                <label for="new_password2" class="block text-sm font-medium leading-6 text-gray-900">Confirm
                                    new password</label>
                                <div class="mt-1">
                                    <input id="new_password2" name="new_password2" type="password"
                                           autocomplete="new-password" required
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            {% comment %} Submit form button {% endcomment %}
                            <div>
                                <button type="submit"
                                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>

                    {% comment %} Form errors after POST request {% endcomment %}
                    {% if form.non_field_errors or form.new_password1.errors or form.new_password2.errors %}
                        <div class="mt-6">
                            <div class="px-2 py-2 border border-red-200 rounded-md bg-red-50">
                                <div class="flex text-sm text-red-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         class="w-4 h-4 mt-0.5 mr-1">
                                        <path fill-rule="evenodd"
                                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.new_password1.errors %}
                                        {% for error in form.new_password1.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.new_password2.errors %}
                                        {% for error in form.new_password2.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <p class="mt-10 text-sm text-center text-gray-500">
                    Forgot your password?
                    <a href="{% url 'password_reset' %}"
                       class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Reset password</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
