{% extends 'main/status_codes/status_codes_base.html' %}
{% load static %}


{% block title %}<title>400 Internal Server Error</title>{% endblock title %}


{% block status_code %}
    500
{% endblock status_code %}


{% block status_title %}
    Internal server error
{% endblock status_title %}


{% block status_description %}
    Please check the URL in the address bar and try again
{% endblock status_description %}

{% block debug_error_message %}
    {{ exception }}
{% endblock debug_error_message %}