<div class="flex h-full flex-col justify-between overflow-hidden rounded-md">
    <div class="flex flex-grow flex-col items-center justify-center bg-stone-100 space-y-6 px-8 py-8 lg:py-6">

        <div class="badge-blue">
            Most popular
        </div>

        <div class="group relative text-center space-y-6 px-4">
            <h3 class="text-xl sm:text-2xl lg:text-3xl font-semibold text-gray-900 group-hover:text-gray-600">
                <a href="#">
                    <span class="absolute inset-0"></span>{{ article.title }}</a>
            </h3>
            <p class="line-clamp-2 text-lg leading-6 text-gray-600 group-hover:text-gray-500">{{ article.meta_description }}</p>
        </div>

        <div class="flex items-center gap-x-4">
            {% include 'blog/components/article-list-author-read-time.html' %}
{#            {% include 'components/avatar/avatar-10x10.html' with user_instance=article.lead_author %}#}
{#            <div class="text-sm leading-6">#}
{#                <p class="font-semibold text-gray-800 hover:text-blue-800">#}
{#                    <a href="#">#}
{#                        {{ article.lead_author.display_name }}#}
{#                    </a>#}
{#                </p>#}
{#                <div class="flex items-center gap-x-2 text-xs text-gray-500">#}
{#                    <time datetime="2020-03-16">{{ article.date_published|date:'M d, Y' }}</time>#}
{#                    <p>•</p>#}
{#                    <p>{{ article.reading_time_minutes }} min read</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div>
        <a href="#">
            <img class="w-full" src="https://placehold.jp/3d4070/ffffff/160x90.png" alt="">
        </a>
    </div>

</div>