{% extends 'base.html' %}
{% load static %}

{# Title #}
{% block title %}<title>Admin | Home</title>{% endblock title %}


{# General meta information (i.e. Description, tags, etc...) #}
{% block meta %}
{% endblock meta %}


{# Stylesheets #}
{% block style %}
{% endblock style %}


{# Head Scripts #}
{% block head_script %}
{% endblock head_script %}


{# Header #}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}


{# Page content #}
{% block content %}

    <div>
        <div class="lg:flex lg:gap-x-16">
            {% include 'adminpanel/components/sidebar.html' %}

            <div class="px-4 py-2 sm:px-6 lg:flex-auto lg:px-0">
                <div class="mx-auto max-w-4xl lg:mx-0 lg:max-w-none">

                    {# Table #}
                    <div class="border-b border-gray-200 pb-4">
                        <div class="flex justify-between">

                            <div class="w-1/2">
                                <label for="table_search"
                                       class="sr-only">Search</label>
                                <div class="relative rounded-md shadow-sm">
                                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                             fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                                        </svg>
                                    </div>
                                    <input type="search" name="table_search" id="table_search"
                                           hx-get="{% url 'adminpanel:feedback-search' %}"
                                           hx-target="#table-container"
                                           hx-trigger="keyup changed delay:500ms"
                                           hx-swap="outerHTML"
                                           class="pl-10 input-text-sm
"
                                           placeholder="Search feedback...">
                                </div>
                            </div>

                            <div class="flex gap-4 items-center">


                                <div class="relative inline-block text-left" x-data="{ isDropdownOpen: false }"
                                     @click.away="isDropdownOpen=false" @keyup.escape.window="isDropdownOpen=false">
                                    <div>
                                        <button type="button" @click="isDropdownOpen=!isDropdownOpen"
                                                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                            Export
                                            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                                                 fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div x-show="isDropdownOpen" x-transition x-cloak
                                         class="absolute whitespace-nowrap right-0 z-10 mt-2 w-min origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                         role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                         tabindex="-1">
                                        <div class="py-1" role="none">
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50"
                                               role="menuitem"
                                               tabindex="-1" id="menu-item-2">Export as csv</a>
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50"
                                               role="menuitem"
                                               tabindex="-1" id="menu-item-1">Export as json</a>
                                        </div>
                                    </div>
                                </div>

                                <a href="{% url 'admin:feedback_feedback_changelist' %}"
                                   class="gap-x-1.5 btn-secondary-lg">
                                    <svg class="-ml-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                                    </svg>
                                    Advanced edit
                                </a>
                            </div>
                        </div>
                    </div>

                    {# Table container #}
                    <div class="overflow-x-auto">

                        {% include 'adminpanel/feedback/partials/table-container.html' %}

                    </div>
                    {# Table container #}


                </div>
            </div>
        </div>
    </div>


{% endblock content %}


{# Footer #}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}


{# Scripts #}
{% block scripts %}
{% endblock scripts %}