{% load custom_tags %}

<dl class="pt-2 first:pt-0 grid grid-cols-3">
    <dt class="font-medium text-muted">{{ instance|verbose_name:field_name }}</dt>
    {% with value=instance|field_value:field_name %}
        <dd class="col-span-2 text-normal">
            {% if value %}
                {{ value }}
            {% elif value == None %}
                <span class="badge-error">Field does not exist</span>
            {% elif value|length == 0 %}
                -
            {% else %}
                <span class="badge-error">Field does not exist</span>
            {% endif %}
        </dd>
    {% endwith %}
</dl>